/*Set up*/
html{
  overflow-x: hidden;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
/*Set up*/

/**Header**/
header{
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: rgb(48, 48, 48);
  width: 100%;
}
.head_of_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}
#facebook{
  height: 30px;
}
#logo{
  height: 60px;
}
.head_of_header ul{
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-right: 90px;
}
.head_of_header a{
  font-size: 15px;
  text-decoration: none;
  color: aliceblue;
  font-family: Arial;
}
.sticky {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: rgb(48, 48, 48);
  width: 100%;
  z-index: 2;
}
.sticky_div{
  position: fixed;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
  z-index: 2;
}
/**Header**/

/*Hero Section*/
.hero_section{
  width: 100%;
  max-width: 2150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  margin: 0;
  background-image: url('image/background-herosection.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  text-align: center;
  font-weight: bolder;
}
.hero_section h1{
  font-size: 60px;
  margin-bottom: 5px;
}
.hero_section p{
  font-size: 20px;
  margin-top: 5px;
}
.hero_section ul{
  display: flex;
  margin-left: -10px;
}
.hero_section button{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(152, 147, 147);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 70px;
  padding-right: 70px;
  cursor: pointer;
}
/*Hero Section*/

/*Vacuum section*/
.vacuum_section{
  background-color: rgb(48, 48, 48);
  width: 100%;
  max-width: 2150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
}
.vacuum_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}
#vertical_vacuum{
  margin-top: 60px;
  height: 900px;
}
.vacuum_left{
  position: absolute;
  z-index: 1;
  margin-top: 200px;
  margin-left: 500px;
}
#horizontal_vacuum{
  border: 2px;
  border-style: groove;
  width: 1200px;
  margin-top: 70px;
  position: relative;
}
.vacuum_left div{
  text-align: center;
  margin-left: 150px;
}
.vacuum_div h2{
  font-size: 30px;
  color: aliceblue;
  margin-bottom: 10px;
}
.vacuum_div p{
  font-size: 20px;
  color: aliceblue;
}
/*Vacuum section*/

/*Detail Section*/
.detail_section{
  width: 100%;
  max-width: 2150px;
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
}
.detail_div{
  display: flex;
  height: 900px;
}
.detail_div img{
  width: 50%;
}
.detail_text{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.detail_text div{
  width: 60%;
}
.detail_text h2{
  color: rgb(61, 61, 61);
  font-size: 30px;
}
.detail_text p{
  color: rgb(61, 61, 61);
  font-size: 18px;
}
.detail_section svg,rect{
  width: 400px;
  height: 5px;
  fill: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 15px;
}
/*Detail Section*/

/*Product Section*/
.overProductSection{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 2150px;
  background-color: rgb(48, 48, 48);
}
.product_section{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  max-width: 2000px;
  column-gap: 0.5%;
  row-gap: 10px;
  margin: 0px 10px;
  padding: 10px 0;
}
.product_section div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.product_section h3, .product_section p{
  font-size: 30px;
  margin: 7px;
  color: black;
  text-align: center;
  margin-left: -350px !important;
}
.product_section p{
  font-size: 17px;
}
.product_section ul{
  font-size: 17px;
  margin-left: -350px !important;
}
.product_section a{
  color: #2997ff;
  text-decoration: none;
  margin-right: 20px;
}
#product_1,#product_3,#product_5{
  margin-left: 10px;
  margin-right: 5px;
}
#product_2,#product_4,#product_6{
  margin-right: 10px;
}
#product_1{
  background-image: url("image/product 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product_2{
  background-image: url("image/product 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#product_3{
  background-image: url("image/product 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Product Section*/

/*footer*/
footer{
  width: 100%;
  background-color: #BCB7B7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div{
  width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.footer_top{
  margin-top: 70px;
}
.footer_top img{
  width: 30%;
  margin-left: 10%;
}
.footer_top div{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  margin-top: 10%;
}
footer h1{
  color: #4E4E4E;
  font-size: 60px;
  margin-top: -25%;
}
footer h4{
  color: #000000;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 20px;
}
footer input{
  width: 400px;
  height: 40px;
  border: 2px;
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #4E4E4E;
  border-radius: 2px;
  padding-left: 40px;
  font-size: 20px;
}
footer h3{
  color: #000000;
  font-size: 30px;
}
.footer_bottom div{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 250px;
}
footer p{
  font-size: 17px;
  margin-top: -10px;
}
.left{
  align-items: flex-start;
  padding-left: 11%;
}
.left svg, .left rect{
  fill: #4E4E4E;
  height: 2px;
  width: 400px;
  margin-left: -1%;
  margin-top: -50px;
}
.right h3{
  margin-left: 80px;
}
.right{
  align-items: flex-start;
}
#Company_name{
  margin-top: 15px;
}
/*footer*/
